body {
    background-color: rgb(29, 29, 95);
}

.container {
    margin: 100px auto;
}

.boxes {
    background-color: rgb(209, 209, 209);
    border-radius: 10px;
    padding: 1rem;
    max-height: 650px;
}

#chatbox #messages {
    overflow-y: scroll;
    max-height: 83%;
}
#chatbox .message {
    padding: 0.5rem;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 4px;
    background-color: rgb(226, 226, 226);
    margin-bottom: 5px;
}

#logbox {
    padding-right: 0;
}
#logs {
    overflow-y: scroll;
    max-height: 90%;
}

#logbox p {
    margin: 0;
    font-family: monospace;
    font-size: 0.7rem;
}

.error {
    color: rgb(170, 0, 0);
}
